ckeditor-ext/src/main/joo-js/ckeditor-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="ckeditor-ext" xmlns:ckeditor-ext="ckeditor-ext" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ext='http://extjs.com/ext3'>
  <xs:import namespace="http://extjs.com/ext3"/>
  <xs:complexType name='com.coremedia.ui.ckhtmleditor.HtmlEditor'>
    <xs:complexContent>
      <xs:extension base='ext:ext.form.TextArea'>
        <xs:all>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element id='ck.htmleditor' name='htmleditor' type='ckeditor-ext:com.coremedia.ui.ckhtmleditor.HtmlEditor' substitutionGroup='ext:textarea'>
  </xs:element>
  <xs:complexType name='com.coremedia.ui.ckhtmleditor.HtmlEditorToolbar'>
    <xs:complexContent>
      <xs:extension base='ext:ext.Panel'>
        <xs:all>
        </xs:all>
        <xs:attribute type='xs:string' name='htmlEditorId'>
          <xs:annotation>
            <xs:documentation>
The ckhtmleditor's ID. Optional if the target ckhtmleditor is below the same container as this toolbar. @param config all config options of toolbar plus the ones documented above.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element id='ck.toolbar' name='toolbar' type='ckeditor-ext:com.coremedia.ui.ckhtmleditor.HtmlEditorToolbar' substitutionGroup='ext:panel'>
    <xs:annotation>
      <xs:documentation>
An Ext toolbar that connects to a ckhtmleditor (Ext CKEdtior wrapper) component. The ckhtmleditor must be below the same container as this toolbar, or the config attribute 'htmlEditorId' must be set.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='com.coremedia.ui.ckhtmleditor.LinkDialog'>
    <xs:complexContent>
      <xs:extension base='ext:ext.Window'>
        <xs:all>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element id='ck.dialog.link' name='link' type='ckeditor-ext:com.coremedia.ui.ckhtmleditor.LinkDialog' substitutionGroup='ext:window'>
  </xs:element>
</xs:schema>
